# Ignore bin directory
bin/

# Ignore build directory
build/

# Ignore dot classpath file
.classpath

# Ignore Gradle dot files and dot directory
/.gradle

# Ignore IntelliJ .idea directory
.idea/

# Ignore IntelliJ iml files
*.iml

# Ignore project dot files
.project

# Ignore vscode project setting
.settings/
