sudo: required
before_install:
- sudo dpkg --purge --force-depends ca-certificates-java
- sudo apt-get install -qq ca-certificates-java
- ./gradlew clean
language: java
jdk:
- oraclejdk7
script: ./gradlew test
